<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: black;
        font-size: 40pt;
    }

    h2 {
        color: black;
        font-size: 26pt;
    }

    p {
        font-size: 18pt;
    }
    body {
        background-color: darkorange;
    }
</style>

<div>
    <h1> {{ text }}  </h1>
    <h2> </h2>
    <p>  </p>
    <p> {{ city }} {{ date }} {{ arrival_time }} </p>
</div>